/* reset */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width: 60%;
    margin: auto;
}
.testo{
    text-align: center;
    margin-top: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    color: #e53170;
    margin-bottom: 40px;
}
/* float cards */
.cards{
    margin-top: 30px;
    background-color: #000;
    float:left;
    width: calc(100% / 3);
    color: #fff;
}
.post{
    
}
img{
    width: 100px;
    height: auto;
    float: left;
}
.email{
    color: #8bd3dd;
}